<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark manager</title>
  </head>
  <body>
    <h1 style="text-align:center">The list of bookmarks are:</h1>
    <ol>
      <%= @list %>
    </ol>
  </body>
</html>